{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Legendary Motorsport &mdash; Panel Admin</title>
  <link rel="stylesheet" href="{% static 'catalogo/css/admin.css' %}" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&amp;family=Syne:wght@400;700;800&amp;display=swap" />
</head>

<body>

  <div id="app-admin"></div>

  <script src="{%static 'catalogo/js/catalogo-data.js'%}?v=4"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="{%static 'catalogo/js/admin.js'%}?v=2"></script>

</body>

</html>